body{
    background-color: #131207;
}

#zodiac-image {
    width: 30vw;
    height: 40vh;
}

label {
    color: whitesmoke
}

button {
    background: transparent;
    border: 2px white solid;
    color: whitesmoke;
}

h5 {
    color: whitesmoke
}
#octaveControl {
    display: flex;

}

#upDownButton{
    display:flex;
    flex-direction: column;
}

#noteInput {
    width: 10;
    display: inline-flex;
}