body{
    background-color: #131207;
    color: whitesmoke
}

.title {
  color: whitesmoke
}

#imageSection {
  margin-top: -15vh;
}

/* #zodiac-image {
    width: 30vw;
    height: 40vh;
} */

label {
    color: whitesmoke
}

button {
    background: transparent;
    border: 2px white solid;
    color: whitesmoke;
}

h5 {
    color: whitesmoke
}
#octaveControl {
    display: flex;

}

#upDownButton{
    display:flex;
    flex-direction: column;
}

#noteInput {
    width: 10;
    display: inline-flex;
}

.colorWheelButtons{ 
    color: ghostwhite;
    border: 3px solid ghostwhite;
    height: 40px;
    width: 10px;
}

  .circle-item{
      position: absolute;
      left: 47vw;
      top: 35vh;
  }


  .circle .circle-item:nth-child(1) {
    transform: rotate(0deg) translate(11.625em);
  }
  .circle .circle-item:nth-child(2) {
    transform: rotate(30deg) translate(11.625em) rotate(-30deg);
  }
  .circle .circle-item:nth-child(3) {
    transform: rotate(60deg) translate(11.625em) rotate(-60deg);
  }
  .circle .circle-item:nth-child(4) {
    transform: rotate(90deg) translate(11.625em) rotate(-90deg);
  }
  .circle .circle-item:nth-child(5) {
    transform: rotate(120deg) translate(11.625em) rotate(-120deg);
  }
  .circle .circle-item:nth-child(6) {
    transform: rotate(150deg) translate(11.625em) rotate(-150deg);
  }
  .circle .circle-item:nth-child(7) {
    transform: rotate(180deg) translate(11.625em) rotate(-180deg);
  }
  .circle .circle-item:nth-child(8) {
    transform: rotate(210deg) translate(11.625em) rotate(-210deg);
  }
  .circle .circle-item:nth-child(9) {
    transform: rotate(240deg) translate(11.625em) rotate(-240deg);
  }
  .circle .circle-item:nth-child(10) {
    transform: rotate(270deg) translate(11.625em) rotate(-270deg);
  }
  .circle .circle-item:nth-child(11) {
    transform: rotate(300deg) translate(11.625em) rotate(-300deg);
  }
  .circle .circle-item:nth-child(12) {
    transform: rotate(330deg) translate(11.625em) rotate(-330deg);
  }

.bodyContainer{
    background-color: rgb(39, 33, 75);
}

/* #octaveDisplay {
  margin-top: -10vh;
} */

#date {
  font-size: 2.4rem;
  text-align: justify;
}

#header h2 {
  color: ghostwhite;
}

#header {
  border-bottom: solid 2px ghostwhite;
  color: "whitesmoke"
}

#colorWheelZodiac {
  background-color: gray;
}